.searchBar {
  display: flex;
  flex-direction: row;
  width: 413px;
  height: 45px;
  border-radius: 2px;
  border: 1px solid #ced4da;
  outline: none;
  text-align: left;
  padding: 12px 11px;
}

.searchBar:focus-within {
  outline: 1px solid rgb(59 130 246 / 0.5);
}

.searchBar input {
  width: 100%;
  outline: none;
}

.searchIcon {
  color: #ced4da;
}
