@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.dashboard-nav {
    display: flex;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    background-color: #FEFEFE;
    margin-top: 10px;
}

.dashboard-nav .left {
    display: flex;
    align-items: center;
}

.dashboard-nav .left .link {
    text-decoration: none;
    color:#171A1F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 0 20px 0 20px;

}

.dashboard-nav .left .link:hover {
    color: #7F00FF;
}

.dashboard-nav .right img {
    width: 50px;
    aspect-ratio: 1/1;
    margin-right: 20px;
}

.dashboard-nav .right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
