@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.body {
  background-color: #f7f8fc;
}

button {
  cursor: pointer;
}

input,
select,
textarea {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}


@media print {
  #printable-content {
    display: flex;
  }
}