@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: 'Noto Sans', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    
}

body {
  background-color: #F7F8FC;
}

.dashboard-nav {
    display: flex;
    justify-content: space-between;
    font-family: "Manrope", sans-serif;
    background-color: #FEFEFE;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
}

.dashboard-nav .left {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.dashboard-nav .left img {
  width: 50px;
  aspect-ratio: 1/1;
  margin-right: 20px;
}

.dashboard-nav .left ul {
    display: flex;
    list-style: none;
}

.dashboard-nav .left ul li .link {
    text-decoration: none;
    color:#171A1F;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin: 0 20px 0 20px;

}

.dashboard-nav .left ul li .link:hover {
    color: #7F00FF;
}

.dashboard-nav .right img {
    width: 50px;
    aspect-ratio: 1/1;
    margin-right: 20px;
}

.dashboard-nav .right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.dashboard {
  padding: 30px;
  font-family: "Manrope", sans-serif;

}

.dashboard .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dashboard .top button {
  height: 30px;
  padding: 0 5px;
  border: none;
  font-weight: 700;
}

.dashboard .top .title {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 900;
  line-height: 38px;
  text-align: left;
  color: #171A1F;
  font-family: "Manrope", sans-serif;
}

.boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.box {
  padding: 20px;
  border-radius: 4px;
  width: 20%;
  text-align: center;
  color: white;
  height: 105px;
  
}

.box * {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  
}

.box:nth-child(1) {
  background-color: #5E9CEE;
}

.box:nth-child(2) {
  background-color: #F85470; /* Vanilla */
}

.box:nth-child(3) {
  background-color: #2ABA8C;
}

.box:nth-child(4) {
  background-color: #F57A3A;
}

.table-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
  border-radius: 20px;
}


table, th, td {
  border: 1px solid #DEE1E6;
}

th, td {
  background-color: #EBEFFA;
}

th {
  background-color: white;
  padding: 10px;
  text-align: left;
  color: #565D6D;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;

}

td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;


}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.content h2 {
  /* font-family: Manrope; */
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #171A1F;
  margin-bottom: 20px;
}


.recent-doctors {
  width: 40%;
  margin-left: 20px;
}

.doc-icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.doc-list {
  /* padding: 20px; */
}

.doc-list ul {
  list-style: none;
  background-color: #FEFEFE;
  padding: 20px;
}
