.formContainer {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: left;
}

.header h3 {
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  margin-bottom: 10px;
}

.inputContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}

.inputContent label {
  display: block;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
  /* color: #565d6d; */
}

.inputContent input {
  width: 330px;
  height: 35px;
  border-radius: 8px;
  /* border: 1px solid #ced4da; */
  background-color: #F8F8F8;
  outline: none;
  padding: 4px 3px;
  color: #000;
  font-weight: 300;
}

.checkbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
  height: 24px;
  width: 24px;
  color: #3f51b5;
}

.checkbox label {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #3f51b5;
}

.formButton button {
  width: 150px;
  height: 57px;
  top: 442px;
  left: 234px;
  padding: 15.5px 47px;
  border-radius: 8px;
}

.formButton {
  display: flex;
  justify-content: end;
}

.formButton :first-child {
  background-color: #3f51b5;
  color: white;
}

.formButton :last-child {
  background-color: #f44336;
  color: white;
  margin-left: 24px;
}

.sendMessage {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
