.table {
  width: 100%;
  /* border-collapse: separate; */
  border-spacing: 0.625rem 0;
  box-shadow: 0rem 0rem 0.0625rem 0rem #171a1f12;
  box-shadow: 0rem 0rem 0.125rem 0rem #171a1f1f;
  margin-top: 1.25rem;
}

.table thead tr {
  text-align: left;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.625rem;
}

.table tr {
  height: 3.5rem;
}

.table tr th {
  padding: 0.75rem 0.6875rem !important;
}

.table tr td {
  padding: 0.75rem 0.6875rem !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: left;
}

.table tbody tr td:last-child {
  text-align: left;
}

.ActionCell {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

.table tbody tr:nth-child(odd) {
  background-color: #ecf0fa;
}

.table tbody tr button {
  width: 2.5625rem;
  height: 1.9375rem;
  top: 0.625rem;
  left: 0.6875rem;
  padding: 0.3125rem 0.625rem 0.3125rem 0.625rem;
  border-radius: 0.1875rem;
  margin-left: 0.125rem;
}

.buttonRow {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0.25rem;
  text-align: inherit;
  vertical-align: inherit;
  width: 6.7rem;
  background-color: #ffffff;
  box-shadow: 0rem 0.25rem 0.25rem 0rem #00000040;
  top: 2.5rem;
  position: absolute;
  z-index: 50;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.buttonRow li {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  list-style: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border: 0.0625rem;
  opacity: 0.0625rem;
  text-align: center;
  font-weight: 500;
}

.buttonRow li:hover {
  background-color: #f3f4f6;
  border-bottom: 0.0625rem solid #ecf0fa;
  transition: background-color 0.3s ease;
  border-radius: 0.3125rem;
  opacity: 1;
}

.buttonRow li:last-child {
  color: red;
}

.pagination {
  display: flex;
  justify-content: left;
  padding: 1.25rem 0;
}

.pagination button {
  width: 2.125rem;
  height: 2.125rem;
  padding: 0.1875rem;
  border-radius: 0.125rem;
  border: 0.0625rem solid #e0e0e0;
  background-color: #ffffff;
  color: #171a1f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Manrope;
}

.pageButton {
  width: 3.1875rem;
  height: 2.125rem;
  padding: 0.3125rem 0.5313rem 0.3125rem 0.5313rem;
  border-radius: 0.125rem;
  border: 0.0625rem solid #71aafe;
  background-color: #ffffff;
}

.pageNextButton {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  text-align: center;
  background-color: #ffffff;
}

.pageIndex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
